
#create_new_proposal{
  background-color: #90F0CC;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: -webkit-center;

  ul{
    list-style-type: none;
    padding: 0;
  }
  li {
    margin: 5px;
  }
}
