#show-title-wrapper{
  display: flex;
  justify-content:space-around;
  background-color: #90F0CC;
  color: #333333;
  text-align: left;
  height: 30vh;
  padding-bottom: 20px;
  padding-top: 20px;
}

#title-exp{
  flex-item: 0 0 20%;
}

#short-profile-creator{
  flex-item: 0 0 20%;

  border-style: solid;
  border-radius: 6px;
  width: 200px;
  text-align: center;
  padding: 10px;
}
