<div id="subfoot-wrapper">
        <div id="subfoot-card">
          <h3>Like to meet somebody new, </h3>
          <h3>while doing something you like?</h3>
          <%= link_to new_experience_path do %>
          <h3>
            <span class="label label-danger">Propose an Outing</span>
          </h3>
          <% end %>
        </div>
</div>

